<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chrome.infra.mapper.AnnounncementMapper">
  <resultMap id="BaseResultMap" type="com.chrome.domain.entity.Announncement">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="announncement_id" jdbcType="INTEGER" property="announncementId" />
    <result column="announncement_content" jdbcType="VARCHAR" property="announncementContent" />
    <result column="announncement_time" jdbcType="CHAR" property="announncementTime" />
    <result column="announncement_type" jdbcType="CHAR" property="announncementType" />
    <result column="announncement_course_id" jdbcType="INTEGER" property="announncementCourseId" />
    <result column="announncement_title" jdbcType="VARCHAR" property="announncementTitle" />
    <result column="announncement_user_id" jdbcType="INTEGER" property="announncementUserId" />
  </resultMap>

  <select id="getAnnoList" resultType="announncement">
    select distinct a.*
    from announncement a,selectcourse s
    where s.username=#{username}
    and s.course_id=a.announncement_course_id
    or a.announncement_course_id=0


  </select>
</mapper>