<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chrome.infra.mapper.BlogMapper">
  <resultMap id="BaseResultMap" type="com.chrome.domain.entity.Blog">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="blog_id" jdbcType="INTEGER" property="blogId" />
    <result column="blog_title" jdbcType="VARCHAR" property="blogTitle" />
    <result column="blog_content" jdbcType="VARCHAR" property="blogContent" />
    <result column="blog_time" jdbcType="VARCHAR" property="blogTime" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="user_nickname" jdbcType="VARCHAR" property="userNickname" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
  </resultMap>

  <select id="getBlogList" resultType="blog">
    select * from blog b
    where 1=1
    <if test="courseId!= 0">
      AND b.course_id = #{courseId}
    </if>

    order by b.blog_time
  </select>

  <select id="searchBlog" resultType="blog">
    SELECT * FROM blog b
    WHERE 1=1
    <if test="param != null">
      AND  b.blog_title LIKE concat('%',#{param},'%')
      OR b.blog_content LIKE concat('%',#{param},'%')
      OR b.user_nickname LIKE concat('%',#{param},'%')
      OR b.blog_time LIKE concat('%',#{param},'%')

    </if>
  </select>
</mapper>