<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chrome.infra.mapper.LabMapper">
  <resultMap id="BaseResultMap" type="com.chrome.domain.entity.Lab">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="lab_id" jdbcType="INTEGER" property="labId" />
    <result column="lab_name" jdbcType="VARCHAR" property="labName" />
    <result column="lab_content" jdbcType="VARCHAR" property="labContent" />
    <result column="lab_url" jdbcType="VARCHAR" property="labUrl" />
    <result column="lab_starttime" jdbcType="VARCHAR" property="labStarttime" />
    <result column="lab_deadline" jdbcType="VARCHAR" property="labDeadline" />
    <result column="course_id" jdbcType="INTEGER" property="courseId" />
  </resultMap>

    <resultMap id="labScoreDto" type="com.chrome.api.dto.LabScoreDto">
        <id column="lab_id" jdbcType="INTEGER" property="labId" />
        <result column="lab_name" jdbcType="VARCHAR" property="labName" />
        <result column="lab_content" jdbcType="VARCHAR" property="labContent" />
        <result column="lab_url" jdbcType="VARCHAR" property="labUrl" />
        <result column="lab_starttime" jdbcType="VARCHAR" property="labStarttime" />
        <result column="lab_deadline" jdbcType="VARCHAR" property="labDeadline" />
        <result column="lab_deadline" jdbcType="CHAR" property="labDeadline" />
        <result column="score" jdbcType="INTEGER" property="score" />
        <result column="commit_url" jdbcType="INTEGER" property="commitUrl" />
        <result column="commit_content" jdbcType="INTEGER" property="commitContent" />
    </resultMap>


    <select id="selectLabList" resultType="lab">
    select l.lab_id
    FROM user_lab ul,lab l
    where ul.user_name=#{username}
    AND l.course_id = #{courseId}
    AND ul.lab_id=l.lab_id


  </select>

    <select id="getLabScoreList" resultMap="labScoreDto">
     select l.lab_id,
     l.lab_name,
     l.lab_content,
     l.lab_url,
     l.lab_starttime,
     l.lab_deadline,
     ul.score,
     ul.commit_url,
     ul.commit_content
    FROM user_lab ul,lab l
    where ul.user_name=#{username}
    AND l.course_id = #{courseId}
    AND ul.lab_id=l.lab_id
  </select>

    <select id="getLastInsertId" resultType="int">
     select LAST_INSERT_ID()
  </select>
</mapper>